html, body {
  margin: 0;
  padding: 1rem;
  font-family: "Helvetica Neue";
}

button {
  border: none;
  background-color: #EAAA00;
  border-radius: 0.2rem;
  padding: 0.5rem;
  transition: 0.3s;
}

button:hover {
  background-color: #000000;
  color: white;
  transition: 0.3s;
}

canvas {
  display: block;
}

.menu-item {
  display: inline-block;
}

#menu {
  display: grid;
  grid-template-columns: auto auto;
  margin-bottom: 2rem;
}